In [2]:
from matplotlib import font_manager, rc
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import platform

In [3]:
ep = pd.read_csv("data/전력수급_월별평균최대전력.csv", encoding="cp949")

In [5]:
ep.head(3)

,연도,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,2023,79463,76183,68151,65210,0,0,0,0,0,0,0,0
1,2022,79797,77278,71145,66096,66243,71805,82007,80375,70674,66443,68926,82176
2,2021,77620,72010,67268,63917,63388,68857,81158,77300,69327,67052,70028,78180

In [9]:
e21 = pd.read_csv("data/한국전력거래소_시간별 전력수요량_20211231.csv", encoding="cp949")

In [10]:
e21.head()

,날짜,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,2021-01-01,64942,62593,60905,59889,59638,59936,60193,59982,59626,...,56691,58299,60425,62931,64176,63645,62754,61561,61979,63055
1,2021-01-02,60658,58603,57309,56663,56733,57327,58378,59285,60669,...,55493,57865,61407,64223,65082,64257,62981,61686,61962,64227
2,2021-01-03,61992,59723,58310,57599,57518,58073,58877,59373,59434,...,59465,61355,63202,65426,66473,65646,64815,63289,63706,64480
3,2021-01-04,62078,60011,58936,58715,59233,61081,64908,71659,80766,...,81315,81431,82840,81666,78838,75717,72867,69726,68460,70327
4,2021-01-05,67267,64957,63471,63136,63564,65045,68221,73685,81609,...,81611,82647,84497,83721,81513,78460,75423,72053,70992,72838

In [14]:
tem21 = pd.read_csv("data/2021년 전국 기온 데이터.csv", encoding="cp949")

C:\Users\admin\AppData\Local\Temp\ipykernel_2004\2566758953.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  tem21 = pd.read_csv("data/2021년 전국 기온 데이터.csv", encoding="cp949")