In [2]:
from matplotlib import font_manager, rc
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import platform

In [3]:
ep = pd.read_csv("data/전력수급_월별평균최대전력.csv", encoding="cp949")

In [5]:
ep.head(3)

,연도,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,2023,79463,76183,68151,65210,0,0,0,0,0,0,0,0
1,2022,79797,77278,71145,66096,66243,71805,82007,80375,70674,66443,68926,82176
2,2021,77620,72010,67268,63917,63388,68857,81158,77300,69327,67052,70028,78180

In [7]:
pd.read_csv("data/2017년 기온 데이터.csv", encoding="cp949")

C:\Users\admin\AppData\Local\Temp\ipykernel_2004\215874277.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv("data/2017년 기온 데이터.csv", encoding="cp949")

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,90,속초,2017-01-01 0:00,4.1,0.0,NaN,NaN,1.5,0.0,140.0,...,NaN,2000.0,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN
1,90,속초,2017-01-01 1:00,3.4,0.0,NaN,NaN,1.4,0.0,250.0,...,NaN,1883.0,NaN,NaN,0.9,0.0,NaN,NaN,NaN,NaN
2,90,속초,2017-01-01 2:00,4.6,0.0,NaN,NaN,2.3,0.0,320.0,...,NaN,2000.0,NaN,NaN,0.9,0.0,NaN,NaN,NaN,NaN
3,90,속초,2017-01-01 3:00,4.1,0.0,NaN,NaN,1.4,0.0,270.0,...,NaN,1986.0,NaN,NaN,0.8,0.0,NaN,NaN,NaN,NaN
4,90,속초,2017-01-01 4:00,3.7,0.0,NaN,NaN,1.0,0.0,230.0,...,NaN,2000.0,NaN,NaN,0.7,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831620,295,남해,2017-12-31 19:00,4.1,0.0,NaN,9.0,1.4,NaN,320.0,...,NaN,1671.0,NaN,NaN,0.5,0.0,NaN,NaN,NaN,NaN
831621,295,남해,2017-12-31 20:00,3.8,0.0,NaN,9.0,1.5,NaN,270.0,...,NaN,1813.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
831622,295,남해,2017-12-31 21:00,3.3,0.0,NaN,9.0,2.0,NaN,290.0,...,NaN,1939.0,NaN,NaN,-0.2,0.0,NaN,NaN,NaN,NaN
831623,295,남해,2017-12-31 22:00,3.1,0.0,NaN,9.0,2.3,NaN,290.0,...,NaN,1888.0,NaN,NaN,-0.6,0.0,NaN,NaN,NaN,NaN
831624,295,남해,2017-12-31 23:00,3.1,0.0,NaN,9.0,2.2,NaN,290.0,...,NaN,2000.0,NaN,NaN,-0.7,0.0,NaN,NaN,NaN,NaN